<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teamable Demo with Vue 3</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <main class="max-w-7xl p-4" v-if="dataLoaded">
        <div v-if="calendarConnected">
          <h2>Calendar</h2>
          <button
            type="button"
            class="bg-red-500"
            @click="disconnectCalendar"
            title="Require calendar connected"
          >
            Disconnect from {{ calendar.label }}
          </button>
        </div>

        <div v-if="!calendarConnected && connectableEntries.length < 1">
          <h2>Calendar</h2>
          <label for="login_hint"
            ><strong>Email (if known)</strong>
            <input
              type="text"
              id="login_hint"
              v-model="loginHint"
              class="w-full max-w-96"
          /></label>

          <div class="mt-4 flex gap-2">
            <button
              class="bg-blue-500"
              type="button"
              @click="linkCalendar('google')"
            >
              Link Google Calendar
            </button>
            <button
              class="bg-red-500"
              type="button"
              @click="linkCalendar('microsoft')"
            >
              Link Microsoft Calendar
            </button>
          </div>
        </div>

        <div
          id="connectable_entries"
          v-if="oauthLinked && !calendarConnected && connectableEntries.length > 1"
        >
          <h2>Select a calendar to connect</h2>
          <ul>
            <li
              v-for="(entry, index) in connectableEntries"
              :key="entry.identifier"
              class="mt-4 p-4 rounded-md border-solid border-sky-500 border-2"
            >
              <button
                type="button"
                class="bg-teal-500 mr-4"
                @click="connectCalendar(entry.identifier)"
                :disabled="!oauthLinked || calendarConnected"
                title="Require OAuth linked"
              >
                Connect
              </button>
              <strong
                >{{ entry.label }}
                <span
                  v-if="entry.primary"
                  class="inline-flex items-center rounded-md bg-green-500/10 px-2 py-1 text-xs font-medium text-green-400 ring-1 ring-inset ring-green-500/20"
                  >Primary</span
                ></strong
              >
            </li>
          </ul>
        </div>

        <div class="calendar-settings" v-if="calendarConnected">
          <h2>Settings</h2>

          <form
            @submit.prevent="updateSettings"
            v-if="settings.availabilities.length && calendarConnected"
          >
            <fieldset class="flex gap-2 w-full">
              <legend>Commons</legend>
              <label>
                <strong>Buffer</strong>
                <input type="number" v-model="settings.buffer" /> </label
              ><br />
              <label>
                <strong>Time Zone</strong>
                <input type="text" v-model="settings.time_zone" /> </label
              ><br />
              <label>
                <strong>Allow Same Day</strong>
                <input
                  type="checkbox"
                  v-model="settings.allow_same_day"
                /> </label
              ><br />
              <label>
                <strong>Max Days Ahead</strong>
                <input
                  type="number"
                  v-model="settings.max_days_ahead"
                /> </label
              ><br />
              <label>
                <strong>Minimum Notice</strong>
                <input type="number" v-model="settings.minimum_notice" />
              </label>
            </fieldset>
            <div
              v-for="(availability, index) in settings.availabilities"
              :key="index"
            >
              <fieldset class="flex gap-2 w-full">
                <legend>Availability {{ index + 1 }}</legend>
                <label>
                  <strong>Type</strong>
                  <input type="text" v-model="availability.type" />
                </label>
                <label>
                  <strong>Start Hour</strong>
                  <input type="number" v-model="availability.start_hour" />
                </label>
                <label>
                  <strong>Start Minute</strong>
                  <input type="number" v-model="availability.start_minute" />
                </label>
                <label>
                  <strong>End Hour</strong>
                  <input type="number" v-model="availability.end_hour" />
                </label>
                <label>
                  <strong>End Minute</strong>
                  <input type="number" v-model="availability.end_minute" />
                </label>
              </fieldset>
            </div>
            <div class="mt-4 flex gap-2">
              <button type="button" @click.prevent="addAvailability">
                Add Availability
              </button>
              <button type="submit" class="bg-teal-500">
                Update Settings
              </button>
            </div>
          </form>
        </div>
      </main>

      <main v-if="!dataLoaded">
        <div id="loading-indicator" class="fixed inset-0 flex items-center justify-center z-50">
          <div class="flex items-center space-x-2">
            <div class="w-8 h-8 border-4 border-blue-500 border-dotted rounded-full animate-spin"></div>
            <div class="text-blue-500 text-xl font-semibold">Cooking fast...</div>
          </div>
        </div>
      </main>
    </div>

    <script>
      const { createApp } = Vue;

      // const token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InRlc3RzK2FwcEBodW1hbmx5LmlvIiwiZXhwIjoyMzE4MDc2MDAzLCJ0ZWFtX2lkIjo2NiwidXNlcl91dWlkIjoiOGI5MzE3ZjYtNDMzYy00NjMxLWE0YmItMDE4ZjY1MDI3MTBkIn0.Ms0F8w_fpH_c0QKee2bm5YIW0lKV2-zrY9LNAOvxbp8";
      // const API_HOST = "https://local.api.internal.humanly.io:4004";

      const token =
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InRhbkBodW1hbmx5LmlvIiwiZXhwIjoyMzE5MjkwODA2LCJ0ZWFtX2lkIjo2NiwidXNlcl91dWlkIjoiOGI5MzE3ZjYtNDMzYy00NjMxLWE0YmItMDE4ZjY1MDI3MTBkIn0.mL-s5WFQrgdX-2uuGfIFvXpSNC5LC97XGP3IXtcOGog";
      const API_HOST = "https://tan-api.internal.humanly.dev";

      const CalendarStatus = {
        GOOGLE_OAUTH_NOT_CONNECTED: "GOOGLE_OAUTH_NOT_CONNECTED",
        MICROSOFT_OAUTH_NOT_CONNECTED: "MICROSOFT_OAUTH_NOT_CONNECTED",
        NO_OAUTH_LINKED: "NO_OAUTH_LINKED",
        GOOGLE_CALENDAR_CONNECTED: "GOOGLE_CALENDAR_CONNECTED",
        MICROSOFT_CALENDAR_CONNECTED: "MICROSOFT_CALENDAR_CONNECTED",
        NO_CALENDAR: "NO_CALENDAR",
      };

      const calendarStatusText = {
        [CalendarStatus.GOOGLE_OAUTH_NOT_CONNECTED]:
          "Google OAuth linked, not connected",
        [CalendarStatus.MICROSOFT_OAUTH_NOT_CONNECTED]:
          "Microsoft OAuth linked, not connected",
        [CalendarStatus.NO_OAUTH_LINKED]: "No OAuth linked",
        [CalendarStatus.GOOGLE_CALENDAR_CONNECTED]:
          "Google calendar connected to ",
        [CalendarStatus.MICROSOFT_CALENDAR_CONNECTED]:
          "Microsoft calendar connected to ",
        [CalendarStatus.NO_CALENDAR]: "",
      };

      createApp({
        data() {
          return {
            dataLoaded: false,
            loginHint: "tan@humanly.io",
            connectableEntries: [],
            calendar: null,
            settings: {
              buffer: 0,
              time_zone: "",
              allow_same_day: false,
              max_days_ahead: 0,
              minimum_notice: 0,
              availabilities: [],
            },
          };
        },
        methods: {
          async linkCalendar(provider) {
            const { url } = await this.getOAuthUrl(provider);
            if (url) {
              this.popout(url);
            } else {
              console.error("URL is not returned");
            }
          },
          async popout(url) {
            this.dataLoaded = false;
            return new Promise((resolve, reject) => {
              const popup = window.open(url, null, "width=500,height=700");
              window.addEventListener("message", (msg) => {
                popup.close();
                this.getCalendar();
                resolve(msg.data);
              });
              setTimeout(() => {
                popup.close();
                reject("Timeout");
              }, 150000);
            });
          },
          async getOAuthUrl(provider) {
            const response = await fetch(
              `${API_HOST}/calendar/oauth/${provider}?login_hint=${encodeURIComponent(
                this.loginHint
              )}`,
              { headers: this.headers }
            );
            return response.json();
          },
          async getCalendar() {
            this.dataLoaded = false;

            const response = await fetch(`${API_HOST}/calendar/`, {
              headers: this.headers,
            });
            this.calendar = await response.json();

            if (this.calendar.connected) {
              await this.getCalendarSettings();
            }

            if (
              this.calendarStatus ===
                CalendarStatus.GOOGLE_OAUTH_NOT_CONNECTED ||
              this.calendarStatus ===
                CalendarStatus.MICROSOFT_OAUTH_NOT_CONNECTED
            ) {
              await this.listConnectableCalendars();
            }
            this.dataLoaded = true;
          },
          async listConnectableCalendars() {
            try {
              const response = await fetch(`${API_HOST}/calendar/connectable/`, {
                headers: this.headers,
              });
              const data = await response.json();
              this.connectableEntries = data.entries || [];

              if (this.connectableEntries.length === 1) {
                await this.connectCalendar(this.connectableEntries[0].identifier);
              }
            } catch (error) {
              console.error(error);
              this.connectableEntries = []
            }
          },
          async getCalendarSettings() {
            const response = await fetch(`${API_HOST}/calendar/settings/`, {
              headers: this.headers,
            });
            this.settings = await response.json();
          },
          async connectCalendar(identifier) {
            const response = await fetch(`${API_HOST}/calendar/${identifier}`, {
              headers: this.headers,
              method: "POST",
            });
            this.calendar = await response.json();
            if (this.calendar.connected) {
              await this.getCalendarSettings();
            }
          },
          async disconnectCalendar() {
            const response = await fetch(`${API_HOST}/calendar`, {
              headers: this.headers,
              method: "DELETE",
            });
            this.calendar = await response.json();
            this.connectableEntries = [];
            this.dataLoaded = true;
          },
          shortenString(str, maxLength = 16) {
            if (str && str.length > maxLength) {
              return str.substring(0, maxLength) + "...";
            } else {
              return str;
            }
          },
          async updateSettings() {
            this.dataLoaded = false;

            const response = await fetch(`${API_HOST}/calendar/settings`, {
              headers: this.headers,
              method: "PUT",
              body: JSON.stringify(this.settings),
            });
            
            this.settings = await response.json();
            this.dataLoaded = true;
          },
          addAvailability() {
            this.settings.availabilities.push({
              type: "",
              start_hour: 0,
              start_minute: 0,
              end_hour: 0,
              end_minute: 0,
            });
          },
        },
        computed: {
          headers() {
            return new Headers({
              "Content-Type": "application/json",
              Authorization: `Bearer ${token}`, // replace with your token
            });
          },
          oauthLinked() {
            return this.calendar && this.calendar.type;
          },
          calendarConnected() {
            return this.calendar && this.calendar.connected;
          },
          calendarStatus() {
            if (this.calendar) {
              if (this.calendar.type === "google" && !this.calendar.connected) {
                return CalendarStatus.GOOGLE_OAUTH_NOT_CONNECTED;
              } else if (
                this.calendar.type === "microsoft" &&
                !this.calendar.connected
              ) {
                return CalendarStatus.MICROSOFT_OAUTH_NOT_CONNECTED;
              } else if (this.calendar.type === null) {
                return CalendarStatus.NO_OAUTH_LINKED;
              } else if (
                this.calendar.type === "google" &&
                this.calendar.connected
              ) {
                return CalendarStatus.GOOGLE_CALENDAR_CONNECTED;
              } else if (
                this.calendar.type === "microsoft" &&
                this.calendar.connected
              ) {
                return CalendarStatus.MICROSOFT_CALENDAR_CONNECTED;
              }
            }
            return CalendarStatus.NO_CALENDAR;
          },
          calendarStatusText() {
            return calendarStatusText[this.calendarStatus];
          },
          statusClass() {
            const statusClass = {
              GOOGLE_OAUTH_NOT_CONNECTED: "bg-yellow-100",
              MICROSOFT_OAUTH_NOT_CONNECTED: "bg-yellow-100",
              NO_OAUTH_LINKED: "bg-red-100",
              GOOGLE_CALENDAR_CONNECTED: "bg-green-100",
              MICROSOFT_CALENDAR_CONNECTED: "bg-green-100",
              NO_CALENDAR: "",
            };
            return statusClass[this.calendarStatus];
          },
        },
        mounted() {
          this.getCalendar();
        },
      }).mount("#app");
    </script>
    <link rel="stylesheet" href="https://unpkg.com/boltcss/bolt.min.css" />
  </body>
</html>
