<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teamable Demo with Vue 3</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <main>
        <div v-if="calendar" class="calendar">
          <h2>Calendar</h2>
          <div>
            <p class="status" :class="statusClass">
              <strong>Status:</strong> {{ calendarStatusText }}
            </p>
            <p><strong>Connected:</strong> {{ calendar.connected }}</p>
            <p>
              <strong>Identifier:</strong> {{ shortenString(calendar.identifier)
              }}
            </p>
            <p><strong>Label:</strong> {{ calendar.label }}</p>
            <p><strong>Type:</strong> {{ calendar.type }}</p>
          </div>
        </div>

        <div>
          <label for="login_hint">Login Hint</label>
          <input
            type="text"
            id="login_hint"
            v-model="loginHint"
            class="w-full max-w-96"
          />
        </div>

        <div class="mt-4 flex gap-2">
          <button
            type="button"
            @click="linkCalendar('google')"
            :disabled="oauthLinked"
          >
            Link calendar with Google
          </button>
          <button
            type="button"
            @click="linkCalendar('microsoft')"
            :disabled="oauthLinked"
          >
            Link calendar with Microsoft
          </button>
          <button
            type="button"
            class="bg-rose-500"
            @click="disconnectCalendar"
            :disabled="!calendarConnected"
            title="Require OAuth linked"
          >
            Disconnect
          </button>
        </div>
        <br />

        <div id="connectable_entries" v-if="oauthLinked && !calendarConnected">
          <h2>Connectable Entries</h2>
          <ul>
            <li
              v-for="(entry, index) in connectableEntries"
              :key="entry.identifier"
              class="status"
            >
              <strong>Label:</strong> {{ entry.label }} <br />
              <strong>Primary:</strong> {{ entry.primary }} <br />
              <strong>Identifier:</strong> {{ shortenString(entry.identifier) }}
              <button
                type="button"
                @click="connectCalendar(entry.identifier)"
                :disabled="!oauthLinked || calendarConnected"
                title="Require OAuth linked"
              >
                Connect
              </button>
            </li>
          </ul>
        </div>

        <div class="calendar-settings" v-if="calendarConnected">
          <h2>Calendar Settings</h2>

          <form
            @submit.prevent="updateSettings"
            v-if="settings.availabilities.length && calendarConnected"
          >
            <fieldset class="flex gap-2 w-full">
              <legend>Commons</legend>
              <label>
                <strong>Buffer:</strong>
                <input type="number" v-model="settings.buffer" /> </label
              ><br />
              <label>
                <strong>Time Zone:</strong>
                <input type="text" v-model="settings.time_zone" /> </label
              ><br />
              <label>
                <strong>Allow Same Day:</strong>
                <input
                  type="checkbox"
                  v-model="settings.allow_same_day"
                /> </label
              ><br />
              <label>
                <strong>Max Days Ahead:</strong>
                <input
                  type="number"
                  v-model="settings.max_days_ahead"
                /> </label
              ><br />
              <label>
                <strong>Minimum Notice:</strong>
                <input type="number" v-model="settings.minimum_notice" />
              </label>
            </fieldset>
            <div
              v-for="(availability, index) in settings.availabilities"
              :key="index"
            >
              <fieldset class="flex gap-2 w-full">
                <legend>Availability {{ index + 1 }}</legend>
                <label>
                  <strong>Type:</strong>
                  <input type="text" v-model="availability.type" />
                </label>
                <label>
                  <strong>Start Hour:</strong>
                  <input type="number" v-model="availability.start_hour" />
                </label>
                <label>
                  <strong>Start Minute:</strong>
                  <input type="number" v-model="availability.start_minute" />
                </label>
                <label>
                  <strong>End Hour:</strong>
                  <input type="number" v-model="availability.end_hour" />
                </label>
                <label>
                  <strong>End Minute:</strong>
                  <input type="number" v-model="availability.end_minute" />
                </label>
              </fieldset>
            </div>
            <div class="mt-4 flex gap-2">
              <button type="button" @click.prevent="addAvailability">
                Add Availability
              </button>
              <button type="submit" class="bg-teal-500">Update Settings</button>
            </div>
          </form>
        </div>
      </main>
    </div>

    <script>
      const { createApp } = Vue;

      const token =
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InRhbkBodW1hbmx5LmlvIiwiZXhwIjoyMzE5MjkwODA2LCJ0ZWFtX2lkIjo2NiwidXNlcl91dWlkIjoiOGI5MzE3ZjYtNDMzYy00NjMxLWE0YmItMDE4ZjY1MDI3MTBkIn0.mL-s5WFQrgdX-2uuGfIFvXpSNC5LC97XGP3IXtcOGog";
      const API_HOST = "https://tan-api.internal.humanly.dev";

      const CalendarStatus = {
        GOOGLE_OAUTH_NOT_CONNECTED: "GOOGLE_OAUTH_NOT_CONNECTED",
        MICROSOFT_OAUTH_NOT_CONNECTED: "MICROSOFT_OAUTH_NOT_CONNECTED",
        NO_OAUTH_LINKED: "NO_OAUTH_LINKED",
        GOOGLE_CALENDAR_CONNECTED: "GOOGLE_CALENDAR_CONNECTED",
        MICROSOFT_CALENDAR_CONNECTED: "MICROSOFT_CALENDAR_CONNECTED",
        NO_CALENDAR: "NO_CALENDAR",
      };

      const calendarStatusText = {
        [CalendarStatus.GOOGLE_OAUTH_NOT_CONNECTED]:
          "⚠️ Google OAuth linked, not connected",
        [CalendarStatus.MICROSOFT_OAUTH_NOT_CONNECTED]:
          "⚠️ Microsoft OAuth linked, not connected",
        [CalendarStatus.NO_OAUTH_LINKED]: "❌ No OAuth linked",
        [CalendarStatus.GOOGLE_CALENDAR_CONNECTED]:
          "✅ Google calendar connected",
        [CalendarStatus.MICROSOFT_CALENDAR_CONNECTED]:
          "✅ Microsoft calendar connected",
        [CalendarStatus.NO_CALENDAR]: "",
      };

      createApp({
        data() {
          return {
            loginHint: "tan@humanly.io",
            connectableEntries: [],
            calendar: null,
            settings: {
              buffer: 0,
              time_zone: "",
              allow_same_day: false,
              max_days_ahead: 0,
              minimum_notice: 0,
              availabilities: [],
            },
          };
        },
        methods: {
          async linkCalendar(provider) {
            const { url } = await this.getOAuthUrl(provider);
            if (url) {
              this.popout(url);
            } else {
              console.error("URL is not returned");
            }
          },
          async popout(url) {
            return new Promise((resolve, reject) => {
              const popup = window.open(url, null, "width=500,height=700");
              window.addEventListener("message", (msg) => {
                popup.close();
                this.getCalendar();
                resolve(msg.data);
              });
              setTimeout(() => {
                popup.close();
                reject("Timeout");
              }, 150000);
            });
          },
          async getOAuthUrl(provider) {
            const response = await fetch(
              `${API_HOST}/calendar/oauth/${provider}?login_hint=${encodeURIComponent(
                this.loginHint
              )}`,
              { headers: this.headers }
            );
            return response.json();
          },
          async getCalendar() {
            const response = await fetch(`${API_HOST}/calendar/`, {
              headers: this.headers,
            });
            this.calendar = await response.json();

            if (this.calendar.connected) {
              this.getCalendarSettings();
            }

            if (
              this.calendarStatus ===
                CalendarStatus.GOOGLE_OAUTH_NOT_CONNECTED ||
              this.calendarStatus ===
                CalendarStatus.MICROSOFT_OAUTH_NOT_CONNECTED
            ) {
              this.listConnectableCalendars();
            }
          },
          async listConnectableCalendars() {
            const response = await fetch(`${API_HOST}/calendar/connectable/`, {
              headers: this.headers,
            });
            const data = await response.json();
            this.connectableEntries = data.entries;
          },
          async getCalendarSettings() {
            const response = await fetch(`${API_HOST}/calendar/settings/`, {
              headers: this.headers,
            });
            this.settings = await response.json();
          },
          async connectCalendar(identifier) {
            const response = await fetch(`${API_HOST}/calendar/${identifier}`, {
              headers: this.headers,
              method: "POST",
            });
            this.calendar = await response.json();
            if (this.calendar.connected) {
              this.getCalendarSettings();
            }
          },
          async disconnectCalendar() {
            const response = await fetch(`${API_HOST}/calendar`, {
              headers: this.headers,
              method: "DELETE",
            });
            this.calendar = await response.json();
          },
          shortenString(str, maxLength = 16) {
            if (str && str.length > maxLength) {
              return str.substring(0, maxLength) + "...";
            } else {
              return str;
            }
          },
          async updateSettings() {
            const response = await fetch(`${API_HOST}/calendar/settings`, {
              headers: this.headers,
              method: "PUT",
              body: JSON.stringify(this.settings),
            });
            this.settings = await response.json();
          },
          addAvailability() {
            this.settings.availabilities.push({
              type: "",
              start_hour: 0,
              start_minute: 0,
              end_hour: 0,
              end_minute: 0,
            });
          },
        },
        computed: {
          headers() {
            return new Headers({
              "Content-Type": "application/json",
              Authorization: `Bearer ${token}`, // replace with your token
            });
          },
          oauthLinked() {
            return this.calendar && this.calendar.type;
          },
          calendarConnected() {
            return this.calendar && this.calendar.connected;
          },
          calendarStatus() {
            if (this.calendar) {
              if (this.calendar.type === "google" && !this.calendar.connected) {
                return CalendarStatus.GOOGLE_OAUTH_NOT_CONNECTED;
              } else if (
                this.calendar.type === "microsoft" &&
                !this.calendar.connected
              ) {
                return CalendarStatus.MICROSOFT_OAUTH_NOT_CONNECTED;
              } else if (this.calendar.type === null) {
                return CalendarStatus.NO_OAUTH_LINKED;
              } else if (
                this.calendar.type === "google" &&
                this.calendar.connected
              ) {
                return CalendarStatus.GOOGLE_CALENDAR_CONNECTED;
              } else if (
                this.calendar.type === "microsoft" &&
                this.calendar.connected
              ) {
                return CalendarStatus.MICROSOFT_CALENDAR_CONNECTED;
              }
            }
            return CalendarStatus.NO_CALENDAR;
          },
          calendarStatusText() {
            return calendarStatusText[this.calendarStatus];
          },
          statusClass() {
            const statusClass = {
              GOOGLE_OAUTH_NOT_CONNECTED: "bg-yellow-100",
              MICROSOFT_OAUTH_NOT_CONNECTED: "bg-yellow-100",
              NO_OAUTH_LINKED: "bg-red-100",
              GOOGLE_CALENDAR_CONNECTED: "bg-green-100",
              MICROSOFT_CALENDAR_CONNECTED: "bg-green-100",
              NO_CALENDAR: "",
            };
            return statusClass[this.calendarStatus];
          },
        },
        mounted() {
          this.getCalendar();
        },
      }).mount("#app");
    </script>
    <link rel="stylesheet" href="https://unpkg.com/boltcss/bolt.min.css" />
    <style>
      main {
        padding: 2rem;
      }
      .status {
        border: 1px solid gray;
        padding: 0.5rem;
        border-radius: 4px;
        list-style: none;
      }

      .status + .status {
        margin-top: 1rem;
      }

      label strong + input {
        margin-left: 0.5rem !important;
      }
    </style>
  </body>
</html>
